@model LoginModel;
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
        @TempData["MensagemErro"]
    </div>
}

<form asp-controller="Login" asp-action="Entrar" method="post">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="login">Login</label>
        <input type="text" asp-for="Login" class="form-control" id="Login" />
        @Html.ValidationMessageFor(x => x.Login)
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <label class="form-label" for="senha">Senha</label>
        <input type="password" asp-for="Senha" class="form-control" id="senha" />
        @Html.ValidationMessageFor(x => x.Senha)
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block"> Entrar</button>
</form>
